

h1 {
    text-align: center;
    font-style: italic;
}

h2 {
    font-size: 38px;
    color: dodgerblue;
    background-color: white;
}

p {
    text-align: justify;
    font-weight: bold;
}

#first-section {
    color: blue;
}

.red-font {
    color: red;
}